.btn-grad {
  background-image: linear-gradient(
    to right,
    #8360c3 0%,
    #2ebf91 51%,
    #8360c3 100%
  );
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
